body {
    font-family: 'Manrope', sans-serif;
  }
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3EFEE;
    height: 1025px;
    width: 100%;
   padding: 30px;
}
.hero-top-container{
    display: flex;
    flex-direction: row;
  
}
.get-started-section{
    max-width: 465px;
}
.get-started-section h1{
  font-size: 4.5em;
  font-weight:600 ;
}
.get-started-section h3{
    font-size: 16px;
    font-weight:500 ;
    color: #868686;
  }
  .get-started-btn, .learn-more-btn{
    background-color: #FB5711;
    padding: 20px 50px 20px 50px;
    color: white;
    border-radius: 8px ;
    margin-top: 25px;
  }
 .ratings-section{
   display: flex;
   flex-direction: row;
   margin: 0 0 0 30px;
 }
 .ratings{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column; 
 }
 .ratings-card{
    height: 98px;
    width: 116px;
    border-radius: 6px;
    background-color: white;
    margin: 50px 0px 80px 40px;
 }
 .delivery{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
 }
 .bar-container{
    height: 400px;
    width: 250px;
    max-height: 440px;
    max-width: 290px;
    border-radius: 12px;
    background-color: #FB5711;
 }
 .delivered-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

 }

 .delivered-count h1{
     font-size: 40px;
     font-weight: 700;
 }
 
 .delivered-count h3{
    font-size: 16px;
    font-weight: 500;
}

 .category-section{
    width: 90%;
    max-width: 1200px;
    margin-top: 50px;
  
   
 }
 .category-title{
    font-size: 1.5em;
    color: #847E8C;
    font-weight: 700;
 }
 .categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }
 .categories img{
     margin: 30px 10px 0px 10px;
 }
 .category{
    padding: 15px 25px 15px 25px;
    border: 1px solid black;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
 }  
 .category h1{
  font-size: 0.8em;
  font-weight: 700 ;
  color: #0E0E0E;
 }
 .about-us-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 50px 20px 60px;
 }
 .about-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .image{
   display: flex;
   flex-direction: column;
  align-items: center;
 }
 .image h1{
   font-size: 2em;
   font-weight: 700; 
   margin-top: 30px;
 }
 .image img{
   height: 65%;
 }
 .about-content{
    margin: 0px 20px 0px 50px;
    width: 50%;
 }
 .about-content h1{
   font-size: 2em;
   font-weight: 700;

 }
 .about-content h3{
   font-size: 1.2em;
   font-weight: 600;
   color:  #847E8C;
 }
 
  .about-content p{
    font-size: 1em;
    font-weight: 500;
    color: #868686;
    text-align: justify;
    margin-top: 20px;
    min-height: 200px;
  }
  .divider{
   height: 1px;
   width: 100%;
   margin-top: 40px;
   margin-bottom: 20px;
   background-color: lightgrey;
  }
  .partners-section{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   max-width: 1000px;
  }
  .partners-section h1{
    font-size: 1.4em;
    font-weight: 700;
    margin-right: 80px;
  }
  .partners-logo{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 50vw;
   max-width: 600px;
  }
  .partners-logo img{
    height: 90px;
    width: 80px;
  }
  .company-stats-section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: fit-content;
   width: 100%;
   background-color: #FAF7F7;
   padding: 50px 10px 30px 10px;
  }
  .upper-stats-section{
   display: flex;
   flex-direction: row;
   width: 80%;
   max-width: 1000px;
  }
  .stats-title h3{
    color:#847E8C;
  }
   .stats-title h1{
    font-size: 3.2em;
    font-weight: 700;
    width: 280px;

  }
  .stats-content{
     display: flex;
     flex-direction: column;
  }
 .stats-content p{
   color:  #868686;
   font-weight: 500;
   font-size: 1em;
   text-align: justify;
  }
.learn-more-btn{
   width: fit-content;
}
.lower-stats-section{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 80%;
   max-width: 1000px;
   justify-content: space-between;
   margin: 50px 0;
}
.stat{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   padding: 20px 6px;
}
.stat h1{
  font-size: 2.7em;
  font-weight: 600;
}
.stat h3{
   font-size: 1em;
   font-weight: 700;
   color: #868686;

 }
 @media (max-width: 1090px) {
    .bar-container{
        height: 340px;
        width: 190px;
        border-radius: 12px;
        background-color: #FB5711;
     } 
}

@media (max-width: 890px) {
    .hero-section{
        padding-left: 50px;
    }
    .bar-container{
        height: 280px;
        width: 130px;
        border-radius: 12px;
        background-color: #FB5711;
     } 
     .ratings-card{
        height: 98px;
        width: 116px;
        border-radius: 6px;
        background-color: white;
        margin: 50px 0px 80px 0px;
     }
}

@media (max-width: 760px) {
   .hero-section{
      height: fit-content;
   }
   .hero-top-container {
      flex-direction: column;
      align-items: center;
   }
    .bar-container{
    height: 80%;
    width: 70%;
    max-height: 440px;
    max-width: 290px;
    border-radius: 12px;
    background-color: #FB5711;
 }

}
